@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Source Code Pro', monospace;
}

@layer base {
  :root {
    --background: 0 0% 15.69%;
    --foreground: 0 0% 78.04%;
    --card: 160 2% 27.1%;
    --card-foreground: 0 0% 37.1%;
    --popover: 23 30% 10%;
    --popover-foreground: 273 20% 90%;
    --primary: 140 1.35% 56.27%;
    --primary-foreground: 143 30% 10%;
    --secondary: 23 30% 20%;
    --secondary-foreground: 273 20% 90%;
    --muted: 160 2% 27.1%;
    --muted-foreground: 0 0% 46.1%;
    --accent: 160 2% 27.1%;
    --accent-foreground: 0 0% 78.04%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 1.35% 56.27%;
    --input: 140 1.35% 56.27%;
    --ring: 217 89% 82%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 15.69%;
    --foreground: 0 0% 78.04%;
    --card: 0 0% 12.1%;
    --card-foreground: 0 0% 37.1%;
    --popover: 160 2% 27.1%;
    --popover-foreground: 273 20% 90%;
    --primary: 140 1.35% 56.27%;
    --primary-foreground: 143 30% 10%;
    --secondary: 263 30% 20%;
    --secondary-foreground: 273 20% 90%;
    --muted: 143 30% 10%;
    --muted-foreground: 0 0% 46.1%;
    --accent: 143 30% 10%;
    --accent-foreground: 0 0% 78.04%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 1.35% 56.27%;
    --input: 140 1.35% 56.27%;
    --ring: 217 89% 82%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
